name: macos-integration-testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Make Homebrew installation a little quicker
  HOMEBREW_NO_ANALYTICS: "ON"
  HOMEBREW_NO_AUTO_UPDATE: "ON"
  HOMEBREW_NO_BOTTLE_SOURCE_FALLBACK: "ON"
  HOMEBREW_NO_GITHUB_API: "ON"
  HOMEBREW_NO_INSTALL_CLEANUP: "ON"

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false

    steps:
      - name: checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      
      - name: compile
        run: |
          bash .ci/compile.sh
      
      - name: run tests
        run: |
          bash ctest
